.btn{
  &__download{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-gray-light);
    border-radius: 0.190rem;
    &:hover{
      color: var(--color-secondary);
      background-color: var(--color-primary);
    }
    &__wrapper{
      display: none;
      @media (min-width: 64rem/*1024px*/) {
        display: block;
        text-align: right;
      }
    }     
  }

}