.categories {
  &__product {
    &__header {
      &__title {
        @include h4;
      }
    }
    &__hero {
      &__wrapper{
        @media(min-width: 75rem/*1200px*/){
          min-height: 50vh;
        }
      }
      &__text {
        &__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 2rem;
        }
      }
      &__title {
        @include h4;
        line-height: 2.75rem;
      }
      &__img{
        &__wrapper{
          display: none;
          @media(min-width: 75rem/*1200px*/){
            display: block;
          }
        }
      }
    }
  }
}
