body{
  color: var(--color-body);
  font-family: var(--font);
  font-size: var(--font-regular);
}

h2{
  @include secondary-title;
}

h3{
  @include tertiary-title;
}

a,
a:hover{
  text-decoration: none;
  color: var(--color-secondary);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button{
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

