/*nav*/
@mixin nav-link($color: --color-gray-light, $font-size: 0.875rem){
  color: var(--color-gray-light);
  font-size: $font-size;
}

/*title*/
@mixin main-title($font-size: 1.5rem, $font-weight: --font-regular, $color: --color-white){
  color: var($color);
  font-size: $font-size;
  font-weight: var($font-weight);
}

@mixin secondary-title($font-size: 0.875rem, $font-weight: --font-medium, $color: --color-secondary, $text-transform: uppercase, $letter-spacing: 0.125rem){
  color: var($color);
  font-size: $font-size;
  font-weight: var($font-weight);
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}

@mixin tertiary-title($font-size: 1.375rem, $font-weight: --font-bold, $color: --color-secondary, $text-transform: uppercase, $letter-spacing: 0.125rem){
  color: var($color);
  font-size: $font-size;
  font-weight: var($font-weight);
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}

/*hero*/
@mixin hero-desc($font-size: 1.125rem, $font-weight: --font-regular, $color: --color-primary){
  color: var($color);
  font-size: $font-size;
  font-weight: var($font-weight);
}

/*layout*/
@mixin flex-x-space-between-y-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-xy-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin line($width: 100px, $height: 2px, $background-color: --color-primary){
  width: $width;
  height: $height;
  background-color: var($background-color);
}






