/*mobile hamburger menu*/
.hamburger {
  &__menu {
    &__bar {
      background-color: var(--color-primary);
      border-radius: 0.188rem;
      width: 1.5rem;
      height: 0.25rem;
      cursor: pointer;
      margin-top: 0.25rem;
      transition: transform 0.3s;
      &.top {
        background-color: transparent;
      }
      &.middle {
        position: relative;
        transform: rotate(135deg);
      }
      &.bottom {
        position: relative;
        transform: rotate(-135deg);
        top: -0.5rem;
      }
    }
    &__btn {
      &__wrapper {
        display: block;
        @media (min-width: 75rem/*1200px*/) {
          display: none;
        }
      }
    }
  }
}

/*nav*/
.nav {
  &__link {
    display: flex;
    align-items: center;
    @include nav-link;
    &.active{
      color: var(--color-white);
    }
  }
  &__icon{
    fill: var(--color-gray-light);
    &.active{
      fill: var(--color-primary);
    }
  }
}

/*social media*/
.social{
  &__media{
    &__item{
      &:hover{
        background-color: var(--color-primary);
      }
    }
  }
}






