/*mobile hamburger menu*/
.hamburger {
  &__menu {
    &__bar {
      background-color: var(--color-primary);
      border-radius: 0.188rem;
      width: 1.5rem;
      height: 0.25rem;
      cursor: pointer;
      margin-top: 0.25rem;
      transition: transform 0.3s;
      &.top {
        background-color: transparent;
      }
      &.middle {
        position: relative;
        transform: rotate(135deg);
      }
      &.bottom {
        position: relative;
        transform: rotate(-135deg);
        top: -0.5rem;
      }
    }
    &__btn {
      &__wrapper {
        display: block;
        @media (min-width: 75rem/*1200px*/) {
          display: none;
        }
      }
    }
  }
}

/*nav*/
.nav {
  &__link {
    display: flex;
    align-items: center;
    @include nav-link;
    &.active {
      color: var(--color-white);
    }
  }
  &__icon {
    fill: var(--color-gray-light);
    &.active {
      fill: var(--color-primary);
    }
  }
}

/*social media*/
.social {
  &__media {
    &__link {
      &:hover {
        background-color: var(--color-primary);
      }
    }
    &__list{
      @media (min-width: 64rem/*1024px*/) {
        margin-top: 1rem;
      }
    }
  }
}

/*logo*/
.logo {
  margin-left: -0.625rem;
}

/*footer*/
.footer {
  background-color: var(--color-secondary);
  &__title {
    @include tertiary-title(
      1.5rem,
      --font-regular,
      --color-white,
      none,
      0.045rem
    );
    margin: 1rem 0;
  }
  &__desc {
    color: var(--color-gray-medium);
    line-height: 1.5;
  }
  &__link {
    @include nav-link(--color-gray-medium);
    &:hover{
      color: var(--color-primary);
    }
  }
  &__icon {
    fill: var(--color-gray-medium);
    &:hover{
      fill: var(--color-primary);
    }
  }
}
