/*hero*/
.hero {
  @media (min-width: 64rem/*1024px*/) {
    height: 100vh;
    background-image: url("https://darlyagostinho.com/wp-content/uploads/2021/12/hero-bg-scaled.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
  }
  &__wrapper {
    @media (min-width: 64rem/*1024px*/) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 40%;
      height: 70vh;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 64rem/*1024px*/) {
      align-items: initial;
    }
  }
  &__title {
    @include main-title;
    @media (min-width: 64rem/*1024px*/) {
      font-size: 3rem;
    }
  }
  &__desc {
    @include hero-desc;
    @media (min-width: 64rem/*1024px*/) {
      font-size: 1.5rem;
    }
  }
  &__img {
    &__wrapper {
      width: 7.875rem;
      position: relative;
      z-index: 1;
      &::before {
        content: "";
        background-color: white;
        width: 8.25rem;
        height: 8.25rem;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
      @media (min-width: 64rem/*1024px*/) {
        display: none;
      }
    }
  }
  &__nav {
    &__list {
      @media (min-width: 64rem/*1024px*/) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
/*about*/
.about{
  &__body{
    @media (min-width: 48rem/*768px*/) {
      flex-direction: row-reverse;
      margin-top: 1.5rem;
      align-items: center;
    }
  }
  &__content{
    padding: 2.5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    @media (min-width: 64rem/*1024px*/) {
      border-top-left-radius: initial;
      border-bottom-right-radius: 0.25rem;
      margin-top: 0;
    }
    
  }
}

/*resume*/
.resume {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 64rem/*1024px*/) {
      flex-direction: row;
      align-items: initial;
      margin-top: 0;
    }
  }
  &__title {
    @include secondary-title(
      1.25rem,
      --font-medium,
      --color-secondary,
      none,
      normal
    );
    line-height: 1.5;
    @media (min-width: 48rem/*768px*/) {
      font-size: 2.625rem;
    }
    @media (min-width: 64rem/*1024px*/) {
      margin-top: 0;
    }
    &__wrapper{
      text-align: center;
      @media (min-width: 64rem/*1024px*/) {
        text-align: initial;
      }
    }
  }
  &__subtitle {
    @include tertiary-title(
      1.125rem,
      --font-medium,
      --color-primary-medium,
      none,
      normal
    );
    @media (min-width: 48rem/*768px*/) {
      font-size: 1.75rem;
    }
    @media (min-width: 64rem/*1024px*/) {
      font-weight: var(--font-regular);
    }
  }
  &__contact {
    &__link {
      @include nav-link(--color-secondary);
      @include flex-y-center;
      &:hover {
        color: var(--color-primary-medium);
      }
      @media (min-width: 48rem/*768px*/) {
        font-size: 1rem;
      }
      @media (min-width: 64rem/*1024px*/) {
        font-size: 0.875rem;
      }
      &__desc {
        width: 80%;
        @media (min-width: 64rem/*1024px*/) {
          width: initial;
        }
      }
    }
    &__icon {
      &__wrapper {
        @include circle(2rem);
        background-color: var(--color-secondary);
      }
    }
    &__list{
      @media (min-width: 64rem/*1024px*/) {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-left: 7.875rem;
      }
    }
  }
  &__item {
    &__icon {
      &__wrapper {
        @include circle(2.25rem);
        background-color: var(--color-secondary);
      }
    }
    &__title {
      margin-bottom: 0;
      font-weight: var(--font-medium);
      line-height: 1.3;
      font-size: 1.25rem;
    }
    &__body {
      border-left: 0.065rem solid var(--color-secondary);
      padding: 0.5rem 0 0.5rem 2rem;
      margin-left: 1.125rem;
    }
  }
  &__img {
    &__wrapper {
      width: 7.875rem;
      margin: 0 auto;
      @media (min-width: 48rem/*768px*/) {
        width: 12.5rem;
      }
      @media (min-width: 64rem/*1024px*/) {
        width: 7.875rem;
        margin: initial;
      }
    }
  }
}
/*portfolio*/
.portfolio {
  &__item {
    &__img {
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 25%);
    }
    &__title {
      color: var(--color-secondary);
      font-size: 1.125rem;
      font-weight: var(--font-medium);
      &:hover {
        color: inherit;
      }
    }
    &__category {
      color: var(--color-primary-medium);
      font-size: 0.625rem;
      text-transform: uppercase;
      letter-spacing: 0.035rem;
    }
    &__link {
      &:hover {
        color: var(--color-secondary-medium);
      }
    }
    &__business {
      font-size: 0.75rem;
    }
  }
}
