/*hero*/
.hero {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include main-title;
  }
  &__desc {
    @include hero-desc;
  }
  &__img {
    &__wrapper {
      width: 7.875rem;
      height: 7.875rem;
      background-color: var(--color-white);
      border-radius: 50%;
      @include flex-xy-center;
    }
  }
}
/*resume*/
.resume {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    @include secondary-title(1.25rem, --font-medium, --color-secondary, none, normal);
    line-height: 1.5;
  }
  &__subtitle{
    @include tertiary-title(1.125rem, --font-medium, --color-primary-medium, none, normal);
  }
  &__contact{
    &__link{
      @include nav-link(--color-secondary);
      @include flex-y-center;
      &:hover{
        color: var(--color-primary-medium);
      }
      &__desc{
        width: 80%;
      }
    }
    &__icon{
      &__wrapper{
        @include circle(2rem);
        background-color: var(--color-secondary);
      }
    }
  }
  &__item{
    &__icon{
      &__wrapper{
        @include circle(2.25rem);
        background-color: var(--color-secondary);
      }
    }
    &__title{
      margin-bottom: 0;
      font-weight: var(--font-medium);
      line-height: 1.3;
      font-size: 1.25rem;
    }
    &__body{
      border-left: 0.065rem solid var(--color-secondary);
      padding: 0.5rem 0 0.5rem 2rem;
      margin-left: 1.125rem;
    }
  }
}
/*portfolio*/
.portfolio{
  &__item{
    &__img{
      border-radius: 0.25rem;
      box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 25%);
    }
    &__title{
      color: var(--color-secondary);
      font-size: 1.125rem;
      font-weight: var(--font-medium);
      &:hover{
        color: inherit;
      }
    }
    &__category{
      color: var(--color-primary-medium);
      font-size: 0.625rem;
      text-transform: uppercase;
      letter-spacing: 0.035rem;
    }
    &__link{
      &:hover{
        color: var(--color-secondary-medium);
      }
    }
    &__business{
      font-size: 0.75rem;
    }
  }
}
