/*margin*/
.mr {
  &__quarter {
    &__rem {
      margin-right: 0.25rem;
    }
  }
  &__1rem {
    margin-right: 1rem;
  }
  &__1-5rem {
    margin-right: 1.5rem;
  }
  &__2rem {
    margin-right: 2rem;
  }
  &__3rem {
    margin-right: 3rem;
  }
}

.ml {
  &__quarter {
    &__rem {
      margin-left: 0.25rem;
    }
  }
  &__half {
    &__rem {
      margin-left: 0.5rem;
    }
  }
  &__1rem {
    margin-left: 1rem;
  }
  &__2rem {
    margin-left: 2rem;
  }
}

.mt {
  &__half {
    &__rem {
      margin-top: 0.5rem;
    }
  }
  &__1rem {
    margin-top: 1rem;
  }
  &__1-5rem {
    margin-top: 1.5rem;
  }
  &__2rem {
    margin-top: 2rem;
  }
  &__2-5rem {
    margin-top: 2.5rem;
  }
  &__4rem {
    margin-top: 4rem;
  }
  &__8rem {
    margin-top: 8rem;
  }
}

.mb {
  &__half {
    &__rem {
      margin-bottom: 0.5rem;
    }
  }
  &__1rem {
    margin-bottom: 1rem;
  }
  &__1-5rem {
    margin-bottom: 1.5rem;
  }
  &__2rem {
    margin-bottom: 2rem;
  }
}

.mx {
  &__1rem {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  &__auto {
    margin-left: auto;
    margin-right: auto;
  }
}

.my {
  &__4rem {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

/*padding*/
.pt {
  &__half {
    &__rem {
      padding-top: 0.5rem;
    }
  }
  &__1rem {
    padding-top: 1rem;
  }
  &__2rem {
    padding-top: 2rem;
  }
  &__3rem {
    padding-top: 3rem;
  }
}
.pb {
  &__1rem {
    padding-bottom: 1rem;
  }
  &__3rem {
    padding-bottom: 3rem;
  }
}
.py {
  &__1rem{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__1-5rem {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  &__2rem {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /*60px*/
  &__3-75rem {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.p {
  &__0 {
    padding: 0 !important;
  }
  &__1rem {
    padding: 1rem;
  }
}

/*flex*/
.flex {
  &__container {
    display: flex;
  }
  &__align {
    &__items {
      &__center {
        align-items: center;
      }
    }
  }
  &__justify {
    &__space {
      &__between {
        justify-content: space-between;
      }
    }
    &__content {
      &__center {
        justify-content: center;
      }
      &__end {
        justify-content: flex-end;
      }
    }
  }
  &__direction {
    &__column {
      flex-direction: column;
    }
  }
}

/*bg*/
.bg {
  &__primary {
    background-color: var(--color-primary);
  }
  &__secondary {
    background-color: var(--color-secondary);
  }
  &__light {
    background-color: var(--color-light);
  }
  &__white {
    background-color: var(--color-white);
  }
  &__medium{
    &__gray{
      background-color: var(--color-medium-gray);;
    }
  }
}

/*color*/
.color {
  &__primary {
    color: var(--color-primary);
  }
  &__white {
    color: var(--color-white);
  }
}

/*img*/
.img {
  &__responsive {
    max-width: 100%;
    height: auto;
  }
}

/*layout*/
.circle {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.position {
  &__relative {
    position: relative;
  }
}

.vh {
  &__50 {
    height: 50vh;
  }
}

.d {
  &__none {
    display: none;
  }
}

.overflow {
  &__hidden {
    overflow: hidden;
  }
}
