:root{
  /*color*/
  
  /*color primary*/
  --color-primary: #2DFF2C;
  ;
  --color-primary-medium: #017700;
  ;

  /*color secondary*/
  --color-secondary: #14252D;
  --color-secondary-medium: #3F748D;

  /*color neutral*/
  --color-white: #fff;
  --color-light: #F2F2F2;
  --color-black: #333;
  --color-gray: #999;
  --color-gray-light: #A8A9B4;
  --color-gray-medium: #C4C4C4;

  /*color body*/
  --color-body: #14252D;

  /*font*/
  --font: 'Roboto', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --fz-body: 1rem; /*16px*/ 
}





