.woocommerce-cart {
  table {
    &.cart {
      td {
        &.actions {
          /*coupon*/
          /*input text*/
          .coupon {
            float: none;
            padding-bottom: 0.5rem;
            @media (min-width: 64rem/*1024px*/) {
              float: left;
            }
            input {
              width: 48%;
            }
            .input-text {
              font-size: var(--fz-button);
              height: 2.5rem;
              &::placeholder {
                font-size: var(--fz-button);
                color: var(--color-medium-gray);
              }
            }
          }
        }
        &.product-quantity{
          .qib-container{
            justify-content: flex-end !important;
            @media(min-width: 64rem/*1024px*/){
              justify-content: initial !important;
            }
          }
        }
      }

      .product-thumbnail {
        width: 15rem;
        margin: 0 auto;
        padding: 0;
        @media (min-width: 64rem/*1024px*/) {
          min-width: 2rem;
        }
      }

      img {
        width: 15rem;
        max-width: 100%;
        height: auto;
        @media (min-width: 64rem/*1024px*/) {
          width: 6.25rem;
        }
      }
    }
  }

  .woocommerce {
    /*coupon*/
    /*button*/
    button {
      &.button {
        width: 48%;
        height: 2.5rem;
        color: var(--color-white);
        background-color: var(--color-secondary-medium);
        font-size: var(--fz-button);
        font-weight: var(--font-medium);
        text-transform: capitalize;
        letter-spacing: 0.025rem;
        @media (min-width: 64rem/*1024px*/) {
          width: auto;
        }
      }
    }

    /*return-to-shop*/
    a {
      &.button {
        @include woo-btn;
        padding: 0.75rem 1rem;
        height: auto;
        text-transform: none;
        &:hover {
          @include woo-btn-hover;
        }
      }
    }
    .cart-collaterals {
      .cart_totals {
        width: 100%;
        float: none;
        text-align: left;
        @media (min-width: 64rem/*1024px*/) {
          float: right;
          width: 48%;
        }
        tbody {
          @media (min-width: 64rem/*1024px*/) {
            display: table-row-group;
          }
          th {
            display: none;
            @media (min-width: 64rem/*1024px*/) {
              display: table-cell;
            }
          }
        }
      }
    }

    /*proceed-to-checkout btn*/
    .wc-proceed-to-checkout {
      margin-bottom: 1rem;
    }
  }

  /*checkout button*/
  .wc-proceed-to-checkout {
    a.checkout-button {
      background-color: var(--color-alert-primary);
      text-transform: uppercase;
      font-size: var(--fz-body-main);
      font-weight: var(--font-medium);
      border-radius: 0.188rem;
      letter-spacing: 0.078rem;
      height: 3.75rem;
      line-height: 3.75rem;
      margin: 0;
      padding: 0;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-alert-medium);
      }
    }
  }
}
