.woocommerce-checkout {
  /*title*/
  h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
  /*order review*/
  #order_review_heading {
    margin: 1.5rem 0 1rem;
  }
  /*shop table*/
  table {
    &.shop_table {
      background-color: var(--color-primary-lighter);
      th,
      td {
        padding: 1.5rem;
      }
    }
  }
  /*payment box*/
  #payment {
    background-color: var(--color-woo-info);
    div {
      &.payment_box {
        background-color: var(--color-woo-payment-info);
        &::before {
          border: 1em solid var(--color-woo-payment-info);
          border-right-color: transparent;
          border-left-color: transparent;
          border-top-color: transparent;
        }
        p:last-child {
          font-weight: var(--font-medium);
        }
      }
      &.form-row {
        padding: 1.5rem;
      }
    }
  }

  .woocommerce {
    /*shipping*/
    .col2-set {
      .col-1,
      .col-2 {
        float: none;
        width: 100%;
        margin-bottom: 2rem;
      }
      @media (min-width: 64rem/*1024px*/) {
        .col-1,
        .col-2 {
          float: left;
          width: 48%;
        }
        .col-2 {
          float: right;
        }
      }
    }

    /*privacy policy links*/
    .woocommerce-privacy-policy-text{
      a{
        color: var(--color-primary);
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .woocommerce-terms-and-conditions-link{
      color: var(--color-primary);
      &:hover{
        text-decoration: underline;
      }
    }

    /*checkout button*/
    button {
      &.button.alt {
        background-color: var(--color-alert-primary);
        height: 3.125rem;
        font-size: var(--fz-body-main);
        font-weight: var(--font-medium);
        letter-spacing: 0.078rem;
        border-radius: 0.25rem;
        text-transform: capitalize;
        &:hover {
          background-color: var(--color-alert-medium);
          color: var(--color-white);
        }
      }
    }

    /**order-received page**/
    /*order-details*/
    ul{
      &.order_details{
        li{
          margin-bottom: 1rem;
        }
      }
    }
    /**form-login**/
    .woocommerce-form-login{
      .form-row{
        float: none;
        width: 100%;
      }
      .woocommerce-form-login__rememberme{
        display: block;
        margin: 0.5rem 0 1rem;
      }
      .lost_password{
        a{
          font-size: var(--fz-button);
          color: var(--color-primary);
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    /**form-coupon**/
    .woocommerce-form-coupon{
      button{
        height: 2.813rem;
        font-size: var(--fz-button);
      }
    }
  }
}
