.woocommerce-page {
  /*title*/
  h2 {
    margin-bottom: 1rem;
  }
  /**breadcrumb**/
  .woocommerce-breadcrumb {
    font-size: var(--fz-button);
    color: var(--color-medium-gray);
    margin: 0 0 0.875rem;
    padding: 2rem 0 0 !important;

    svg {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      color: var(--color-black);
      &:hover {
        color: var(--color-secondary-medium);
      }
    }

    &::after,
    &::before {
      content: none;
      display: none;
    }
  }

  .woocommerce {
    /*shop table*/
    table {
      &.shop_table {
        &_responsive {
          thead {
            display: none;
            @media (min-width: 64rem/*1024px*/) {
              display: table-header-group;
            }
          }
          td {
            display: block;
            text-align: right;
          }
          tr {
            display: block;
          }
        }
        tfoot {
          td {
            border-top: 0.063rem solid var(--color-woo-shoptable-border);
          }
          th {
            border-top: 0.063rem solid var(--color-woo-shoptable-border);
          }
        }
        tr {
          th {
            padding: 1.5rem;
            font-size: 1rem;
          }
          td {
            font-size: var(--fz-button);
            padding: 1.5rem;
            @media (min-width: 64rem/*1024px*/) {
              display: table-cell;
              text-align: left;
              border-top: 0.063rem solid rgba(0, 0, 0, 0.1);
            }
            &.product-quantity {
              &::before {
                margin-top: 0.5rem;
              }
            }
            &::before {
              content: attr(data-title);
              font-weight: var(--font-medium);
              font-size: 1rem;
              float: left;
              @media (min-width: 64rem/*1024px*/) {
                all: unset;
              }
            }
          }
          &:not(:last-child) {
            border-bottom: 0.063rem solid var(--color-woo-shoptable-border);
          }
          @media (min-width: 64rem/*1024px*/) {
            display: table-row;
          }
        }
        td {
          border: none;
        }
      }
    }
  }

  /**title**/
  h1 {
    margin-bottom: 1rem;
  }

  /**result count**/
  .woocommerce-result-count {
    font-size: var(--fz-button);
    margin-bottom: 0.5rem;
    float: none;
    color: var(--color-secondary);
  }

  /**ordering => select**/
  .woocommerce-ordering {
    margin-bottom: 1.5rem;
    float: none;

    select {
      appearance: none;
      border: 0.063rem solid var(--color-secondary);
      padding: 0.5rem;
      border-radius: 5px;
      outline-color: var(--color-secondary);
      color: var(--color-secondary);
      cursor: pointer;
      background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(37,37,37, 0.85)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
      background-position: right 0.45em top 50%;
      background-repeat: no-repeat;
      background-size: auto 1rem;
      min-width: 18.75rem;
    }
  }

  /**pagination**/
  nav {
    &.woocommerce-pagination {
      ul {
        margin: 0 0 2rem;
        border: none;

        li {
          border-right: unset;
          margin-right: 0.375rem;
        }
      }

      a {
        &.page-numbers {
          @include pagination-numbers;
          background-color: var(--color-primary-lighter);
          color: var(--color-primary);
        }
        &.page-numbers {
          &:hover {
            @include pagination-numbers-hover;
          }
        }
      }

      .page-numbers {
        .current {
          @include pagination-numbers;
          background-color: var(--color-primary);
          color: var(--color-white);
        }
        .prev,
        .next {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: unset;
        }
      }
    }
  }

  /***alert messages***/
  /**info**/
  .woocommerce-info {
    background-color: var(--color-woo-info);
    border-top: 0;
    border-radius: 0.5rem;
    a {
      color: var(--color-primary);
      &:hover {
        text-decoration: underline;
      }
    }
    .woocommerce-message::before,
    .woocommerce-error::before,
    &::before {
      content: "";
      top: 1.25rem;
      left: 2rem;
      width: 1rem;
      height: 1rem;
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="%234c4c4c" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2.033 16.01c.564-1.789 1.632-3.932 1.821-4.474.273-.787-.211-1.136-1.74.209l-.34-.64c1.744-1.897 5.335-2.326 4.113.613-.763 1.835-1.309 3.074-1.621 4.03-.455 1.393.694.828 1.819-.211.153.25.203.331.356.619-2.498 2.378-5.271 2.588-4.408-.146zm4.742-8.169c-.532.453-1.32.443-1.761-.022-.441-.465-.367-1.208.164-1.661.532-.453 1.32-.442 1.761.022.439.466.367 1.209-.164 1.661z"/%3E%3C/svg%3E');
    }
  }

  /**message**/
  .woocommerce-message {
    background-color: var(--color-woo-info);
    border-top: 0;
    border-radius: 0.5rem;
    a {
      color: var(--color-primary);
      background-color: transparent;
      font-weight: var(--font-medium);
      &:hover {
        text-decoration: underline;
        background-color: transparent;
        color: var(--color-primary);
      }
    }

    &::before {
      color: var(--color-alert-primary);
    }
  }

  /**error**/
  .woocommerce-error {
    background-color: var(--bg-alert-danger);
  }

  /**reset product variations**/
  /**product quantity**/
  /**product description**/
  div {
    &.product {
      form {
        &.cart {
          .reset_variations {
            display: none !important;
          }
        }
      }
      .woocommerce-tabs {
        ul {
          &.tabs {
            padding: 0;
            margin: 0 0 1rem;
            overflow: initial;
            &::before {
              all: unset;
            }
            li {
              border: none;
              padding: 0.5rem 1rem;
              border-radius: 0.25rem;
              position: initial;
              margin: 0 1rem 1rem 0;
              background-color: var(--color-primary-light);
              &.active {
                background-color: var(--color-primary);
                a {
                  color: var(--color-white);
                  font-weight: var(--font-regular);
                }
              }
              a {
                color: var(--color-primary);
                font-weight: var(--font-regular);
              }
              &::after {
                all: unset;
              }
              &::before {
                all: unset;
              }
            }
          }
        }
      }
    }
  }

  /*button*/
  button {
    &.button {
      color: var(--color-white);
      font-weight: var(--font-medium);
      background-color: var(--color-alert-primary);
      letter-spacing: 0.063rem;
      &.alt {
        background-color: var(--color-alert-primary);
        font-weight: var(--font-medium);
        color: var(--color-white);
        &.disabled {
          background-color: var(--color-alert-primary);
          color: var(--color-white);
          &:hover {
            background-color: var(--color-alert-primary);
            color: var(--color-white);
          }
        }
        &:hover {
          color: var(--color-white);
          background-color: var(--color-alert-medium);
        }
      }
    }
  }
}
