.woocommerce {
  form {
    .form-row {
      label {
        margin-bottom: 0.25rem;
        font-size: var(--fz-button);
        font-weight: var(--font-medium);
      }
      input {
        &.input-text {
          height: 2.8125rem;
          padding: 0.5rem;
          background-color: var(--bg-woo-checkout-input);
          border-color: transparent;
          border-radius: 0.25rem;
          &::placeholder {
            font-size: var(--fz-button);
            letter-spacing: 0.031rem;
            line-height: 1.5;
          }
        }
      }
      textarea {
        border-color: transparent;
        background-color: var(--bg-woo-checkout-input);
        border-radius: 0.25rem;
        padding: 1rem;
        resize: none;
        height: 9.375rem;
        &::placeholder{
          line-height: 1.5;
        }
      }
      .required {
        color: var(--color-alert-primary-danger);
      }
      /*login*/
      &.woocommerce-validated {
        input {
          &.input-text {
            border-color: transparent;
            background-color: var(--bg-woo-checkout-input);
          }
        }
      }
      &.woocommerce-invalid {
        label {
          color: var(--color-alert-primary-danger);
        }
        input {
          &.input-text {
            border: 0.125rem solid var(--color-alert-primary-danger);
            background-color: var(--bg-alert-danger);
          }
        }
      }
    }
  }
}

/*select 2*/
.select2-container--default {
  .select2-selection--single {
    height: 2.8125rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--bg-woo-checkout-input);
    border-color: transparent;
    /*arrow*/
    .select2-selection__arrow {
      height: 2.5rem;
    }
  }
}
