.woocommerce-account {
  main {
    margin-bottom: 4rem;
    padding: 0 1rem;
  }
  /*title*/
  h1 {
    display: none;
  }
  .woocommerce {
    /*form login*/
    form {
      &.login {
        margin: 1rem 0;
        padding: 2rem 2rem 1rem;
        position: relative;
      }
      .form-row-first {
        width: 100%;
      }
      .form-row {
        margin: 0 0 1.5rem;
        label {
          font-size: var(--fz-body-main);
          margin-bottom: 0.5rem;
          font-weight: var(--font-medium);
          /*rememberme link*/
          &.woocommerce-form-login__rememberme {
            margin: 0 0 1.5rem;
            font-size: var(--fz-button);
            user-select: none;
            font-weight: var(--font-regular);
            cursor: pointer;
          }
        }
      }
    }
    /*submit button*/
    .woocommerce-form-login {
      .woocommerce-form-login__submit {
        float: none;
        display: block;
        color: var(--color-white);
        background-color: var(--color-alert-primary);
        font-weight: var(--font-medium);
        letter-spacing: 1.2px;
        height: 3.75rem;
        text-transform: uppercase;
        width: 100%;
      }
    }
    /*lost password link*/
    .woocommerce-LostPassword {
      &.lost_password {
        position: absolute;
        top: 15rem;
        right: 2.25rem;
        @media(max-width: 21.25rem/*340px*/){
          top: 17rem;
        }
        a {
          font-size: var(--fz-button);
          color: var(--color-primary);
          font-weight: var(--font-medium);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    /***lost-password page***/
    /**reset password button**/
    button {
      &.button {
        @include woo-btn;
        &:hover {
          @include woo-btn-hover;
        }
      }
    }

    @media (min-width: 48rem/*768px*/) {
      width: 50%;
      margin: 0 auto;
    }
  }

  /*logged in*/
  &.logged-in {
    h1 {
      display: block;
    }
    .woocommerce {
      width: initial;
      margin: initial;
      form {
        .form-row-first {
          width: 47%;
        }
      }
      .woocommerce-MyAccount-navigation {
        float: none;
        width: 100%;
        ul {
          border: 0.0625rem solid var(--color-woo-myaccount-border);
          border-radius: 0.1875rem;
          margin: 0 0 2rem;
        }
        li {
          padding: 1rem 1.25rem;
          &.is-active {
            border-left: 0.188rem solid var(--color-primary);
            a {
              color: var(--color-primary);
              font-weight: var(--font-medium);
              &:hover {
                color: var(--color-primary-medium);
              }
            }
          }
          &:not(:last-child) {
            border-bottom: 1px solid var(--color-woo-myaccount-border);
          }
          a {
            color: var(--color-medium-gray);
            &:hover {
              color: var(--color-primary-medium);
            }
          }
          &.woocommerce-MyAccount-navigation-link--downloads {
            display: none;
          }
        }
        @media (min-width: 64rem/*1024px*/) {
          float: left;
          width: 30%;
        }
      }
      .woocommerce-MyAccount-content {
        float: none;
        width: 100%;
        p {
          a {
            color: var(--color-primary);
            &:hover {
              text-decoration: underline;
            }
          }
        }
        table {
          a{
            &.button {
              @include woo-btn;
              height: auto;
              &:hover {
                @include woo-btn-hover;
              }
            }
          }
        }
        .woocommerce-columns--2{
          &.woocommerce-columns--addresses{
            display: flex;
            flex-direction: column;
            .col-1,
            .col-2{
              width: 100%;
              margin-bottom: 2rem;
            }
          }
        }
        /*address*/
        .woocommerce-Addresses {
          .woocommerce-Address {
            address {
              margin: 1rem 0;
              @media (min-width: 64rem/*1024px*/) {
                margin: 0 0 1rem;
              }
            }
          }
          &.col2-set {
            .col-1 {
              float: none;
              width: 100%;
              @media (min-width: 64rem/*1024px*/) {
                float: left;
                width: 48%;
              }
            }
            .col-2 {
              float: none;
              width: 100%;
              @media (min-width: 64rem/*1024px*/) {
                float: right;
                width: 48%;
              }
            }
          }
        }
        .woocommerce-Address-title {
          h3 {
            font-size: var(--fz-h5);
            margin: 1rem 0;
          }
          a {
            color: var(--color-primary);
            &:hover {
              color: var(--color-primary-medium);
            }
          }
        }
        /*table action button*/
        .woocommerce-orders-table__cell-order-actions{
          a{
            margin-bottom: 1rem;
            @media(min-width: 48rem/*768px*/){
              margin-left: 1rem;
            }
          }
        }
        @media (min-width: 64rem/*1024px*/) {
          float: right;
          width: 68%;
        }
      }
    }
  }

  /*messages*/
  .woocommerce-info {
    a {
      margin: 0;
      padding: 0;
      background: transparent;
      font-weight: 500;
      line-height: unset;
      min-height: auto;
      color: var(--color-primary);
      &:hover {
        color: var(--color-primary-medium);
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}
