.woocommerce {
  ul.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: 0;

    li.product {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;

      margin: 0 0 2rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;

      /*reset woocommerce*/
      float: none;

      /*Product Title*/
      .woocommerce-loop-product__title {
        font-size: var(--fz-h5);
        font-weight: var(--font-regular);
        line-height: 2rem;
        letter-spacing: 0.011rem;

        /*reset woocommerce*/
        padding: initial;
      }

      /*Product link*/
      a {
        &:hover {
          color: var(--color-medium-gray);
        }

        /*Product img*/
        img {
          width: auto;
          max-width: 100%;
        }
      }

      /*Product price*/
      .price {
        position: absolute;
        top: 1rem;
        left: 0.75rem;
        display: flex;
        flex-direction: column;
        color: var(--color-white);
        font-size: var(--fz-body-main);

        > span {
          bdi {
            @include product-price;
          }
        }

        del {
          background-color: var(--color-primary-light);
          color: var(--color-primary);
          width: 6.25rem;
          padding: 0.5rem;
          display: block;
          opacity: unset;
          font-size: var(--fz-body-main);
        }
        ins {
          @include product-price;
          order: -1;
        }
      }
      @media (min-width: 768px) {
        flex: 0 0 auto;
        width: 50%;
      }
      @media (min-width: 1024px) {
        flex: 0 0 auto;
        width: 33.33333333%;
      }
      @media (min-width: 1200px) {
        flex: 0 0 auto;
        width: 25%;
      }
    }
  }
}
